@page "/transactionlist/edit/{Id:int?}"

@using CarServiceCenter.Web.Blazor.Shared.Car;
@using CarServiceCenter.Web.Blazor.Shared.Customer;
@using CarServiceCenter.Web.Blazor.Shared.Transaction
@using CarServiceCenter.Web.Blazor.Shared;
@inject HttpClient httpClient
@inject NavigationManager navigationManager


<h3>Transactions</h3>
<h4>Create/Edit</h4>

@if (Transaction == null) {
            <p>Loading ...</p>

} else {

            <div class="row">
                <div class="col-md-6">
                    <label class="form-label">Date</label>
                    <input class="form-control" @bind="@Transaction.Date" />
                </div>
                <div class="col-md-6">
                    <label class="form-label">Total Price</label>
                    <input class="form-control" @bind="@Transaction.TotalPrice" />
                </div><EngineerEdit />
                <div class="col-md-6">
                        <label class="form-label">Manager</label>
                    <select class="form-control" @bind="Transaction.ManagerId">   
                        <option>Select Menu</option>
                @foreach (var item in Transaction.Managers) {                             
                                    <option value="@item.Id">@item.Name</option>
                }
                    </select>
                    
                </div> 
                <div class="col-md-6">
                        <label class="form-label">Customer</label>
                    <select class="form-control" @bind="Transaction.CustomerId">   
                        <option>Select Menu</option>
                @foreach (var item in Transaction.Customers) {                             
                                    <option value="@item.Id">@item.Name</option>
                }
                    </select>
                </div> <div class="col-md-6">
                        <label class="form-label">Car</label>
                    <select class="form-control" @bind="Transaction.CarId">   
                        <option>Select Menu</option>
                @foreach (var item in Transaction.Cars) {                             
                                    <option value="@item.Id">@item.Brand</option>
                }
                    </select>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col">
                    <button class="btn btn-success" @onclick="OnSave">Save</button>
                    <button class="btn btn-danger" @onclick="OnCancel">Cancel</button>
                </div>

            </div>

}

@code {
    [Parameter] public int? Id { get; set; }
    TransactionEditDto Transaction { get; set; }

    protected override async Task OnInitializedAsync() {
        if (Id == null) {
            Transaction = new();
            Transaction.Managers = await httpClient.GetFromJsonAsync<List<ManagerListDto>>("manager");
            Transaction.Customers = await httpClient.GetFromJsonAsync<List<CustomerListDto>>("customer");
            Transaction.Cars = await httpClient.GetFromJsonAsync<List<CarListDto>>("car");
        } else {
            Transaction = await httpClient.GetFromJsonAsync<TransactionEditDto>($"transaction/{Id}");
        }
    }

    private void OnCancel() {
        navigationManager.NavigateTo("transactionlist");
    }

    private async Task OnSave() {
        HttpResponseMessage? response = null;
        if (Id == null) {
            response = await httpClient.PostAsJsonAsync("transaction", Transaction);
        } else {
            response = await httpClient.PutAsJsonAsync("transaction", Transaction);
        }

        response.EnsureSuccessStatusCode();
        navigationManager.NavigateTo("transactionlist");
    }

}
