@model PetShop.Model.TransactionDeleteDto

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Transaction</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PetPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PetPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PetFoodQty)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PetFoodQty)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PetFoodPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PetFoodPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustomerId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeeId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmployeeId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PetId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PetId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PetFoodId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PetFoodId)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
